# 生产/服务器建议使用 MySQL：
DATABASE_URL=mysql+pymysql://finsight_user:finsight_password@127.0.0.1:3306/finsight?charset=utf8mb4

# 本地快速调试也可以临时使用 SQLite：
# DATABASE_URL=sqlite:///./finsight_dev.db

SECRET_KEY=change-this-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=1440
PROJECT_NAME=Finsight Backend
ENVIRONMENT=dev
